<div style="display: flex;">
  <!-- <%- include('partials/header') -%> -->
  <p class="navbar-brand" href="#">
    username: <%= user.userName %>
  </p>
</div>
<!-- Conversion form-->
<div style=>
  <form action="/convertCurrency">
    
    <button class="btn btn-outline btn-primary">Convert</button>      
  </form>
  
<a href="/logout">logout</a>

<%- include('partials/footer') -%>