<!-- <%- include('partials/header') -%> -->
    <p class="navbar-brand" href="#">
      username: <%= user.userName %>
    </p>
  
<form action="/convertCurrency" class="center">
  <input type="number" placeholder="enter amount">
</form>
<%- include('partials/footer') -%>